<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature android:name="android.software.picture_in_picture" android:required="true" />
    <application>

        <activity android:name="com.example.call_activity.CallActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboardHidden"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:exported="true"
            android:theme="@style/AppTheme.Fullscreen"/>

        <service
            android:name="com.example.call_activity.service.ForegroundService"
            android:foregroundServiceType="mediaPlayback|camera|microphone"
            android:exported="false" />
    </application>

</manifest>